/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors

//Flexoki
$red-color: #d14d14 !default; 
$red-color-dark: #af3029; 
$orange-color: #da702c !default; 
$blue-color: #4385be !default; 
$blue-color-dark: #205ea6 !default; 
$cyan-color: #24837b !default; 
$light-cyan-color: #3aa99f !default; 
$green-color: #879a39 !default; 
$green-color-lime: #94d82d !default; // lime-5
$green-color-dark: #66800b !default; 
$green-color-light: #8ce99a !default; // green-3
$green-color-bright: #c0eb75 !default; // lime-3
$purple-color: #5e409d !default; // violet-5
$light-purple-color: #8b7ec8; // violet-3
$pink-color: #a02f6f !default; // pink-5
$pink-color-light: #ce5d97 !default; // pink-3
$yellow-color: #d0a215 !default; // yellow-4

$grey-color: #575653 !default; // base-700
$grey-color-light: #878580; // base-500
$grey-color-dark: #403e3c; // base-800
$grey-900: #282726; // base-900

$white-color: #fffcf0 !default;
$black-color: #100f0f !default;

//Open Color
/*
$red-color: #ff6b6b !default; // red-5
$red-color-dark: #c92a2a; // red-9
$orange-color: #ff922b !default; // orange-5
$blue-color: #339af0 !default; // blue-5
$blue-color-dark: #1864ab !default; // blue-9
$cyan-color: #22b8cf !default; // cyan-5
$light-cyan-color: #66d9e8 !default; // cyan-3
$green-color: #51cf66 !default; // green-5
$green-color-lime: #94d82d !default; // lime-5
$green-color-dark: #2b8a3e !default; // green-9
$green-color-light: #8ce99a !default; // green-3
$green-color-bright: #c0eb75 !default; // lime-3
$purple-color: #845ef7 !default; // violet-5
$light-purple-color: #b197fc; // violet-3
$pink-color: #f06595 !default; // pink-5
$pink-color-light: #faa2c1 !default; // pink-3
$yellow-color: #ffd43b !default; // yellow-4

$grey-color: #868e96 !default; // gray-6
$grey-color-light: #ced4da; // gray-4
$grey-color-dark: #495057; // gray-7
$grey-900: #212529; // gray-9
*/

//Nord
/*
$red-color: #bf616a !default;
$red-color-dark: darken($red-color, 25%);
$orange-color: #d08770 !default;
$blue-color: #81a1c1 !default;
$blue-color-dark: #5e81ac !default;
$cyan-color: #88c0d0 !default;
$light-cyan-color: lighten($cyan-color, 25%);
$green-color: #a3be8c !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b48ead !default;
$light-purple-color: lighten($purple-color, 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #ebcb8b !default;

$grey-color: #434c5e !default;
$grey-color-light: #eceff4;
$grey-color-dark: #2e3440;
//$grey-color-dark: #D8DEE9;
$grey-900: #212529;
*/

//Default
/*$red-color: #ff3636 !default;
$red-color-dark: #b71c1c !default;
$orange-color: #f29105 !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;
$cyan-color: #2698ba !default;
$light-cyan-color: lighten($cyan-color, 25%);
$green-color: #00ab37 !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b509ac !default;
$light-purple-color: lighten($purple-color, 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #efcc00 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: #1c1c1d;
$grey-900: #212529;*/

/*
$white-color: #ffffff !default;
$black-color: #000000 !default;
*/

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
