/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors

//Everforest
//$red-color: #e67e80 !default;
//$red-color-dark: #f85552; //darken($red-color, 25%);
//$orange-color: #e69875 !default;
//$blue-color: #3a94c5 !default;
//$blue-color-dark: #384b55 !default;
//$cyan-color: #7fbbb2 !default;
//$light-cyan-color: lighten($cyan-color, 25%);
//$green-color: #93b259 !default;
//$green-color-lime: #a7c080 !default;
//$green-color-dark: #8da101 !default;
//$green-color-light: #e1e4bd !default;
//$green-color-bright: #93b259 !default;
//$purple-color: #df69ba !default;
//$light-purple-color: #d699b6; //lighten($purple-color, 25%);
//$pink-color: #e66868 !default;
//$pink-color-light: #f4dbd0 !default;
//$yellow-color: #dfa000 !default;

//$grey-color: #939f91 !default;
//$grey-color-light: #a6b0a0;
/*$grey-color-dark: #2E3440;*/
//$grey-color-dark: #5c6a72;
//$grey-900: #829181;

//Nord
$red-color: #bf616a !default;
$red-color-dark: darken($red-color, 25%);
$orange-color: #d08770 !default;
$blue-color: #81a1c1 !default;
$blue-color-dark: #5e81ac !default;
$cyan-color: #88c0d0 !default;
$light-cyan-color: lighten($cyan-color, 25%);
$green-color: #a3be8c !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b48ead !default;
$light-purple-color: lighten($purple-color, 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #ebcb8b !default;

$grey-color: #434c5e !default;
$grey-color-light: #eceff4;
$grey-color-dark: #2e3440;
//$grey-color-dark: #D8DEE9;
$grey-900: #212529;

//Default
/*$red-color: #ff3636 !default;
$red-color-dark: #b71c1c !default;
$orange-color: #f29105 !default;
$blue-color: #0076df !default;
$blue-color-dark: #00369f !default;
$cyan-color: #2698ba !default;
$light-cyan-color: lighten($cyan-color, 25%);
$green-color: #00ab37 !default;
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #b509ac !default;
$light-purple-color: lighten($purple-color, 25%);
$pink-color: #f92080 !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #efcc00 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: #1c1c1d;
$grey-900: #212529;*/

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
